body {
    font-family:Tahoma;
}
    
table, td {
	border:solid;
	border-width:1px;
	font-size: 18px;
}

col {
	width: 25%;
}

th.header {
	text-align: center;
	vertical-align: middle;
	height: 90px;
	font-size: 50px;
}

td.leftTop {
	text-align: left;
	vertical-align: top;
	height: 90px;
}

td.rightTop {
	text-align: right;
	vertical-align: top;
	height: 90px;
}

td.centerTop {
	text-align: center;
	vertical-align: top;
	height: 90px;
}

td.centerBottom {
	text-align: center;
	vertical-align: bottom;
	height: 90px;
}

td.rightMiddle {
	text-align: right;
	vertical-align: middle;
	height: 90px;
	font-size: 30px;
}

td.centerMiddle {
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
}

td.leftBottom {
	text-align: left;
	vertical-align: bottom;
	height: 90px;
}

td.rightBottom {
	text-align: right;
	vertical-align: bottom;
	height: 90px;
}